* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

/* SPLIT: HOME PAGE AND PROJECT PAGES */

.tMImg,
.cImg,
.pImg,
.dHImg {
    width: 100%;
    height: 100%;
}

.heroSection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroSection > p {
    font-size: 24px;
    width: 50%;
    margin-top: 60px;
}

h2 {
    text-align: center;
    font-size: 52px;
}

.all {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.haf {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    height: 100%;
    width: 100%;
    vertical-align: bottom;
}

.imgContainer, 
.txtContainer {
    height: 50%;
    width: 100%;
}

.imgContainer {
    border: solid 5px black;
}

.txtContainer {
    visibility: visible;
    overflow-y: auto;
    font-size: 18px;
}

.quadrant {
    width: 30%;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.quadrant > h3 {
    text-align: center;
}

.imgCarousel {
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.cOntainer {
    width: 60%;
    height: 60vh;
}


#cIndex {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.projectContainer {
    width: 100%;
    height: 80vh;
}

/* @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
} */

.dButton, 
.iButton {
    width: 5vh;
    height: 5vh;
    background-color: white;
    border: solid 4px black;
    border-radius: 100px;
    /* font-size: 45px; */
    font-size: 4.3vh;
    text-align: center;
    user-select: none;
}

.me {
    background-image: url(../images/Mark.JPG);
    width: 30vw;
    height: 100vh;
    background-size: cover;
    border: solid 15px black;
    box-shadow: 5px 10px 40px 20px rgb(82, 82, 82);
}

.delveHomesImg1 {
    background-image: url(../images/DelveHomes1.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.delveHomesImg2 {
    background-image: url(../images/DelveHomes2.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.delveHomesImg3 {
    background-image: url(../images/DelveHomes3.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.tariffMonopoly1 {
    background-image: url(../images/TariffMonopoly1.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.tariffMonopoly2 {
    background-image: url(../images/TariffMonopoly2.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.tariffMonopoly3 {
    background-image: url(../images/TariffMonopoly3.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.phishingImg1 {
    background-image: url(../images/Phishing1.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.phishingImg2 {
    background-image: url(../images/Phishing2.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.phishingImg3 {
    background-image: url(../images/Phishing3.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.courseraImg1 {
    background-image: url(../images/Coursera1.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.courseraImg2 {
    background-image: url(../images/Coursera2.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.courseraImg3 {
    background-image: url(../images/Coursera3.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

/* SPLIT: NAVIGATION STUFF */

.openButton {
    z-index: 1;
    position: fixed;
    top: 1%;
    left: 1%;
    font-size: 36px;
    cursor: pointer;
    user-select: none;
}
  
.navOverlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.navContent > a {
    text-decoration: none;
    font-size: 56px;
    color: white;
    display: block;
    width: fit-content;
    padding: 10px
}
  
.navContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute; */
}
  
.closeButton {
    position: absolute;
    font-size: 36px;
    color: white;
    top: 1.75%;
    left: 1.25%;
    cursor: pointer;
    position: absolute;
    user-select: none;
}

/* SPLIT: RESUME PAGE STUFF */

h3 {
    text-align: center;
    font-size: 42px;
}

h4 {
    font-size: 28px;
    display: flex;
}

.resumeSection {
    height: fit-content;
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column
}

ul {
    
}

/* SPLIT: mobile compatability */

@media only screen and (max-width:768px) {
    .haf {
        flex-direction: column;
        align-items: center;
    }

    .quadrant {
        width: 75%;
        margin-top: 5vh;
    }
}