* {
    margin: 0;
    padding: 0;
}

.dHImg {
    background-image: url(../images/DelveHomes.jpeg);
}

.pImg {
    background-image: url(../images/Phishing.jpeg);
}

.cImg {
    background-image: url(../images/CourseraCertificate.jpeg);
}

.tMImg {
    background-image: url(../images/TariffMonopoly.jpeg);
}

.image {
    width: 100%;
    height: 45%;   
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.tMImg,
.cImg,
.pImg,
.dHImg {
    width: 100%;
    height: 100%;
}

.half {
    width: 50%;
}

.cOntainer > div {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.delveHomesimg1 {
    url()
}

.delveHomesimg2 {
    url()
}

.delveHomesimg3 {
    url()
}

.tariffMonopoly1 {
    url()
}

.tariffMonopoly2 {
    url()
}

.tariffMonopoly3 {
    url()
}

.phishingImg1 {
    url()
}

.phishingImg2 {
    url()
}

.phishingImg3 {
    url()
}

.courseraimg1 {
    url()
}

.courseraimg2 {
    url()
}

.courseraimg3 {
    url()
}