* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.tMImg,
.cImg,
.pImg,
.dHImg {
    width: 100%;
    height: 100%;
}

.heroSection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroSection > p {
    font-size: 24px;
    width: 50%;
    margin-top: 60px;
}

h2 {
    text-align: center;
    font-size: 52px;
}

.all {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.haf {
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    height: 100%;
    width: 100%;
    vertical-align: bottom;
}

.imgContainer, 
.txtContainer {
    height: 50%;
    width: 100%;
}

.imgContainer {
    border: solid 5px black;
}

.txtContainer {
    
}

.quadrant {
    width: 30%;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.quadrant > h3 {
    text-align: center;
}

.imgCarousel {
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.cOntainer {
    width: 60%;
    height: 60vh;
}


#cIndex {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.projectContainer {
    width: 100%;
    height: 80vh;
}

/* @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
} */

.dButton, 
.iButton {
    width: 25px;
    height: 25px;
    background-color: white;
    border: solid 5px black;
}

.me {
    background-image: url(../images/Mark.JPG);
    width: 30vw;
    height: 100vh;
    background-size: cover;
    border: solid 15px black;
    box-shadow: 5px 10px 40px 20px rgb(255, 221, 0);;
}

.delveHomesImg1 {
    background-image: url(../images/DelveHomes1.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.delveHomesImg2 {
    background-image: url(../images/DelveHomes2.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.delveHomesImg3 {
    background-image: url(../images/DelveHomes3.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.tariffMonopoly1 {
    background-image: url(../images/TariffMonopoly1.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.tariffMonopoly2 {
    background-image: url(../images/TariffMonopoly2.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.tariffMonopoly3 {
    background-image: url(../images/TariffMonopoly3.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.phishingImg1 {
    background-image: url(../images/Phishing1.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.phishingImg2 {
    background-image: url(../images/Phishing2.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.phishingImg3 {
    background-image: url(../images/Phishing3.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.courseraImg1 {
    background-image: url(../images/Coursera1.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.courseraImg2 {
    background-image: url(../images/Coursera2.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}

.courseraImg3 {
    background-image: url(../images/Coursera3.jpeg);
    /* animation-name: fade;
    animation-duration: 1s; */
}